<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReserveDB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ReserveDB.Properties.Settings>
            <setting name="asPatch" serializeAs="String">
                <value />
            </setting>
            <setting name="asServer" serializeAs="String">
                <value />
            </setting>
            <setting name="bBDelSQL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="asFileSQL" serializeAs="String">
                <value />
            </setting>
            <setting name="iSizeX" serializeAs="String">
                <value>390</value>
            </setting>
            <setting name="bToMem" serializeAs="String">
                <value>True</value>
            </setting>
        </ReserveDB.Properties.Settings>
    </userSettings>
</configuration>